#footer .ft_top {
  margin-top: 100px; }

.location {
  max-width: 1000px;
  margin: 50px auto 12px; }
  .location span {
    font-family: 'dotum',sans-serif;
    font-size: 12px;
    padding-right: 8px;
    background: url(../imgs/sub/location_arrow.png) no-repeat right center; }
  .location a {
    display: inline-block;
    font-family: 'dotum',sans-serif; }
  .location .now {
    color: #ae1d31;
    background: none; }

h2 {
  margin-top: 50px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 48px;
  font-weight: 200; }

.title_bar {
  margin-top: 100px;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  font-weight: 400; }

.line_bar {
  display: block;
  margin: 24px auto 100px;
  width: 26px;
  height: 2px;
  background-color: black; }

table {
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
  width: 100%; }
  table tr {
    border-bottom: 1px solid #f4f4f4; }
  table thead th {
    padding-bottom: 40px;
    font-size: 16px;
    color: #8a8a8a;
    border-bottom: 1px solid #303030; }
  table tbody, table tfoot {
    font-size: 14px; }
    table tbody th, table tfoot th {
      font-weight: 400;
      padding: 32px 0; }
  table tfoot tr {
    background-color: #f7f7f7; }

.sub_visual {
  width: 1200px;
  margin: 0 auto; }

.brand_cate dl dt {
  padding-top: 100px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  font-weight: 200; }
.brand_cate dl dd {
  padding: 30px 0 100px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 2;
  color: #8a8a8a; }
  .brand_cate dl dd span {
    color: #ae1d31; }
.brand_cate .brand_info {
  border-bottom: 1px solid #ebebeb; }
.brand_cate .pairing {
  background: url(../imgs/sub/brand_pairing.png) no-repeat right center;
  border-bottom: 1px solid #ebebeb; }
.brand_cate .desc {
  float: left; }
  .brand_cate .desc dd {
    padding-bottom: 30px; }
  .brand_cate .desc .btn {
    padding: 0; }
    .brand_cate .desc .btn a {
      padding: 4px 0;
      width: 82px;
      color: #fff;
      background-color: #ae1d31;
      text-align: center; }
.brand_cate .img {
  float: right;
  margin-top: 100px; }
  .brand_cate .img .img_wrap {
    float: left; }
  .brand_cate .img .img_wrap.last {
    margin-left: 30px; }
  .brand_cate .img p {
    margin-top: 24px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: center; }

.brand_history p {
  padding: 50px 0 100px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  font-weight: 200; }

.sub_history img {
  margin: 0 auto; }
.sub_history .history_01 dd, .sub_history .history_03 dd {
  padding-bottom: 0; }

.sub2 .title {
  margin-top: 70px;
  line-height: 1;
  text-align: center; }
  .sub2 .title p {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: 200; }
  .sub2 .title h2 {
    margin: 16px 0 100px 0;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #ae1d31; }

.sub2 fieldset {
  margin-bottom: 100px;
  text-align: center; }
.sub2 select, .sub2 input[type="text"], .sub2 button[type="submit"] {
  width: 126px;
  padding: 4px 10px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: 200;
  background-color: #f0f0f0;
  border: none;
  border-radius: 0px; }
.sub2 .search_select {
  margin: 0 20px; }
.sub2 input[type="text"] {
  width: 306px;
  margin-right: 10px; }
.sub2 button[type="submit"] {
  width: 60px;
  color: #fff;
  background-color: #151515; }

.list_page {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: 300; }
  .list_page table tbody td {
    text-align: left; }
  .list_page .result_pg {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 20px; }
    .list_page .result_pg span {
      color: #ae1d31;
      font-weight: bold; }

.list_table {
  width: 100%; }
  .list_table .first {
    border-color: #303030;
    text-align: left; }
    .list_table .first .num {
      width: 10%; }
    .list_table .first .cate {
      width: 21%; }
    .list_table .first .tit {
      width: 64%; }
  .list_table .date {
    text-align: right; }
  .list_table th, .list_table td {
    padding: 30px 0; }
  .list_table th {
    color: #b9b9b9;
    font-weight: normal; }
  .list_table tr {
    border-bottom: 1px solid #f4f4f4; }
    .list_table tr td {
      color: #000; }
  .list_table td a {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #000; }

.page_view {
  margin-top: 50px;
  text-align: center; }
  .page_view .prev, .page_view .next {
    text-indent: -9999px;
    background-position: center; }
  .page_view .prev {
    background-image: url("../imgs/sub/list_arrow_l.png");
    background-repeat: no-repeat; }
  .page_view .next {
    background-image: url("../imgs/sub/list_arrow_r.png");
    background-repeat: no-repeat; }
  .page_view a {
    display: inline-block;
    padding: 6px 0;
    width: 31px;
    text-align: center;
    font-size: 14px;
    color: #8a8a8a;
    border: 1px solid #ddd; }
  .page_view .now_pg {
    font-weight: bold;
    border-color: #ae1d31;
    color: #ae1d31; }

.open_step_cnt .open_step_wrap {
  background-image: url("../imgs/sub/fr_bg.png");
  background-repeat: no-repeat;
  background-position: 6px 5px;
  text-align: center; }
.open_step_cnt .open_step_bx {
  display: inline-block; }
  .open_step_cnt .open_step_bx dl {
    padding-top: 110px;
    margin: 0 43px 130px 0;
    width: 210px;
    text-align: center;
    background-position: center 0; }
  .open_step_cnt .open_step_bx dt .step_num {
    color: #ae1d31;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: 400; }
  .open_step_cnt .open_step_bx dt .tit {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #2f2f2f; }
  .open_step_cnt .open_step_bx dd {
    margin-top: 20px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 12px;
    font-weight: 200; }
  .open_step_cnt .open_step_bx .open_step_04, .open_step_cnt .open_step_bx .open_step_05 {
    margin-right: 0; }
  .open_step_cnt .open_step_bx .open_step_01 {
    background-image: url("../imgs/sub/fr_01.png");
    background-repeat: no-repeat; }
  .open_step_cnt .open_step_bx .open_step_02 {
    background-image: url("../imgs/sub/fr_02.png");
    background-repeat: no-repeat; }
  .open_step_cnt .open_step_bx .open_step_03 {
    background-image: url("../imgs/sub/fr_03.png");
    background-repeat: no-repeat; }
  .open_step_cnt .open_step_bx .open_step_04 {
    background-image: url("../imgs/sub/fr_04.png");
    background-repeat: no-repeat; }
  .open_step_cnt .open_step_bx .open_step_05 {
    background-image: url("../imgs/sub/fr_05.png");
    background-repeat: no-repeat; }
  .open_step_cnt .open_step_bx .open_step_06 {
    background-image: url("../imgs/sub/fr_06.png");
    background-repeat: no-repeat; }
  .open_step_cnt .open_step_bx .open_step_07 {
    background-image: url("../imgs/sub/fr_07.png");
    background-repeat: no-repeat; }
  .open_step_cnt .open_step_bx .open_step_08 {
    background-image: url("../imgs/sub/fr_08.png");
    background-repeat: no-repeat; }
.open_step_cnt .bx_row_01 dl {
  float: left; }
.open_step_cnt .bx_row_02 dl {
  float: right;
  margin-bottom: 0; }

.open_condition .t_type {
  width: 40%; }
.open_condition .t_cnt {
  width: 60%; }

.money .t_type {
  width: 20%; }
.money .t_money {
  width: 20%; }
.money .t_cnt {
  width: 60%; }

.more_info {
  margin-top: 32px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px; }
  .more_info span {
    color: #ae1d31;
    font-weight: bold; }

.event_bx_wrap {
  padding-top: 60px;
  border-top: 1px solid #dfdfdf; }
  .event_bx_wrap ul li {
    margin: 0 101px 78px 0;
    width: 266px;
    float: left; }
    .event_bx_wrap ul li:nth-child(3n) {
      margin-right: 0; }
  .event_bx_wrap .tit {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 18px;
    margin: 33px 0 16px;
    line-height: 26px; }
  .event_bx_wrap .date {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 12px;
    font-weight: 200; }

.faq_list {
  border-top: 1px solid #303030; }
  .faq_list li {
    border-bottom: 1px solid #d2d2d2; }
    .faq_list li span {
      font-family: "Noto Sans KR", sans-serif; }
  .faq_list strong {
    margin-right: 50px;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #ae1d31; }
  .faq_list .q {
    margin: 30px 30px;
    background: url(../imgs/sub/faq_arrow.png) no-repeat 100% 50%; }
    .faq_list .q span {
      display: inline-block;
      width: 800px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .faq_list .q.active {
    display: block;
    background: url(../imgs/sub/faq_arrow_close.png) no-repeat 100% 50%; }
  .faq_list .a {
    display: none;
    padding: 30px 30px;
    background-color: #f6f6f6; }
    .faq_list .a strong {
      float: left;
      color: #666666; }
    .faq_list .a span {
      display: block;
      float: left;
      width: 810px; }

/*# sourceMappingURL=contents.css.map */
