.new_open .bx-prev, .new_open .bx-next, .new_open .bx-start, .new_open .bx-stop {
  display: block;
  text-indent: -9999px; }

#footer .ft_top {
  margin-top: 100px; }

.location {
  max-width: 1000px;
  margin: 50px auto 12px; }
  .location span {
    font-family: 'dotum',sans-serif;
    font-size: 12px;
    padding-right: 8px;
    background: url(../imgs/sub/location_arrow.png) no-repeat right center; }
  .location a {
    display: inline-block;
    font-family: 'dotum',sans-serif; }
  .location .now {
    color: #ae1d31;
    background: none; }

h2 {
  margin-top: 50px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 48px;
  font-weight: 200; }

.title_bar {
  margin-top: 100px;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  font-weight: 400; }

.line_bar {
  display: block;
  margin: 24px auto 100px;
  width: 26px;
  height: 2px;
  background-color: black; }

table {
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
  width: 100%; }
  table tr {
    border-bottom: 1px solid #f4f4f4; }
  table thead th {
    padding-bottom: 40px;
    font-size: 16px;
    color: #8a8a8a;
    border-bottom: 1px solid #303030; }
  table tbody, table tfoot {
    font-size: 14px; }
    table tbody th, table tfoot th {
      font-weight: 400;
      padding: 32px 0; }
  table tfoot tr {
    background-color: #f7f7f7; }

.sub_visual {
  width: 1200px;
  margin: 0 auto; }

.brand_cate dl dt {
  padding-top: 100px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  font-weight: 200; }
.brand_cate dl dd {
  padding: 30px 0 100px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 2;
  color: #8a8a8a; }
  .brand_cate dl dd span {
    color: #ae1d31; }
.brand_cate .brand_info {
  border-bottom: 1px solid #ebebeb; }
.brand_cate .pairing {
  background: url(../imgs/sub/brand_pairing.png) no-repeat right center;
  border-bottom: 1px solid #ebebeb; }
.brand_cate .desc {
  float: left; }
  .brand_cate .desc dd {
    padding-bottom: 30px; }
  .brand_cate .desc .btn {
    padding: 0; }
    .brand_cate .desc .btn a {
      padding: 4px 0;
      width: 82px;
      color: #fff;
      background-color: #ae1d31;
      text-align: center; }
.brand_cate .img {
  float: right;
  margin-top: 100px; }
  .brand_cate .img .img_wrap {
    float: left; }
  .brand_cate .img .img_wrap.last {
    margin-left: 30px; }
  .brand_cate .img p {
    margin-top: 24px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: center; }

.brand_history p {
  padding: 50px 0 100px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  font-weight: 200; }

.sub_history img {
  margin: 0 auto; }
.sub_history .history_01 dd, .sub_history .history_03 dd {
  padding-bottom: 0; }

.sub2 .title {
  margin-top: 70px;
  line-height: 1;
  text-align: center; }
  .sub2 .title p {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: 200; }
  .sub2 .title h2 {
    margin: 16px 0 100px 0;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #ae1d31; }

.sub2.notice fieldset {
  margin-bottom: 100px;
  text-align: center; }
.sub2.notice select, .sub2.notice input[type="text"], .sub2.notice button[type="submit"] {
  width: 126px;
  padding: 4px 10px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: 200;
  background-color: #f0f0f0;
  border: none;
  border-radius: 0px; }
.sub2.notice .search_select {
  margin: 0 20px; }
.sub2.notice input[type="text"] {
  width: 306px;
  margin-right: 10px; }
.sub2.notice button[type="submit"] {
  width: 60px;
  color: #fff;
  background-color: #151515; }

.list_page {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: 300; }
  .list_page table tbody td {
    text-align: left; }
  .list_page .result_pg {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 20px; }
    .list_page .result_pg span {
      color: #ae1d31;
      font-weight: bold; }

.list_table {
  width: 100%; }
  .list_table .first {
    border-color: #303030;
    text-align: left; }
    .list_table .first .num {
      width: 10%; }
    .list_table .first .cate {
      width: 21%; }
    .list_table .first .tit {
      width: 64%; }
  .list_table .date {
    text-align: right; }
  .list_table th, .list_table td {
    padding: 30px 0; }
  .list_table th {
    color: #b9b9b9;
    font-weight: normal; }
  .list_table tr {
    border-bottom: 1px solid #f4f4f4; }
    .list_table tr td {
      color: #000; }
  .list_table td a {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #000; }

.page_view {
  margin-top: 50px;
  text-align: center; }
  .page_view .prev, .page_view .next {
    text-indent: -9999px;
    background-position: center; }
  .page_view .prev {
    background-image: url("../imgs/sub/list_arrow_l.png");
    background-repeat: no-repeat; }
  .page_view .next {
    background-image: url("../imgs/sub/list_arrow_r.png");
    background-repeat: no-repeat; }
  .page_view a {
    display: inline-block;
    padding: 6px 0;
    width: 31px;
    text-align: center;
    font-size: 14px;
    color: #8a8a8a;
    border: 1px solid #ddd; }
  .page_view .now_pg {
    font-weight: bold;
    border-color: #ae1d31;
    color: #ae1d31; }

.open_step_cnt .open_step_wrap {
  background-image: url("../imgs/sub/fr_bg.png");
  background-repeat: no-repeat;
  background-position: 6px 5px;
  text-align: center; }
.open_step_cnt .open_step_bx {
  display: inline-block; }
  .open_step_cnt .open_step_bx dl {
    padding-top: 110px;
    margin: 0 43px 130px 0;
    width: 210px;
    text-align: center;
    background-position: center 0; }
  .open_step_cnt .open_step_bx dt .step_num {
    color: #ae1d31;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: 400; }
  .open_step_cnt .open_step_bx dt .tit {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #2f2f2f; }
  .open_step_cnt .open_step_bx dd {
    margin-top: 20px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 12px;
    font-weight: 200; }
  .open_step_cnt .open_step_bx .open_step_04, .open_step_cnt .open_step_bx .open_step_05 {
    margin-right: 0; }
  .open_step_cnt .open_step_bx .open_step_01 {
    background-image: url("../imgs/sub/fr_01.png");
    background-repeat: no-repeat; }
  .open_step_cnt .open_step_bx .open_step_02 {
    background-image: url("../imgs/sub/fr_02.png");
    background-repeat: no-repeat; }
  .open_step_cnt .open_step_bx .open_step_03 {
    background-image: url("../imgs/sub/fr_03.png");
    background-repeat: no-repeat; }
  .open_step_cnt .open_step_bx .open_step_04 {
    background-image: url("../imgs/sub/fr_04.png");
    background-repeat: no-repeat; }
  .open_step_cnt .open_step_bx .open_step_05 {
    background-image: url("../imgs/sub/fr_05.png");
    background-repeat: no-repeat; }
  .open_step_cnt .open_step_bx .open_step_06 {
    background-image: url("../imgs/sub/fr_06.png");
    background-repeat: no-repeat; }
  .open_step_cnt .open_step_bx .open_step_07 {
    background-image: url("../imgs/sub/fr_07.png");
    background-repeat: no-repeat; }
  .open_step_cnt .open_step_bx .open_step_08 {
    background-image: url("../imgs/sub/fr_08.png");
    background-repeat: no-repeat; }
.open_step_cnt .bx_row_01 dl {
  float: left; }
.open_step_cnt .bx_row_02 dl {
  float: right;
  margin-bottom: 0; }

.open_condition .t_type {
  width: 40%; }
.open_condition .t_cnt {
  width: 60%; }

.money .t_type {
  width: 20%; }
.money .t_money {
  width: 20%; }
.money .t_cnt {
  width: 60%; }

.more_info {
  margin-top: 32px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px; }
  .more_info span {
    color: #ae1d31;
    font-weight: bold; }

.event_bx_wrap {
  padding-top: 60px;
  border-top: 1px solid #dfdfdf; }
  .event_bx_wrap ul li {
    margin: 0 101px 78px 0;
    width: 266px;
    float: left; }
  .event_bx_wrap .mr0 {
    margin-right: 0; }
  .event_bx_wrap .tit {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 18px;
    margin: 33px 0 16px;
    line-height: 26px; }
  .event_bx_wrap .date {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 12px;
    font-weight: 200; }

.faq_list {
  border-top: 1px solid #303030; }
  .faq_list li {
    border-bottom: 1px solid #d2d2d2; }
    .faq_list li span {
      font-family: "Noto Sans KR", sans-serif; }
  .faq_list strong {
    margin-right: 50px;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #ae1d31; }
  .faq_list .q {
    margin: 30px 30px;
    background: url(../imgs/sub/faq_arrow.png) no-repeat 100% 50%; }
    .faq_list .q span {
      display: inline-block;
      width: 800px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .faq_list .q.active {
    display: block;
    background: url(../imgs/sub/faq_arrow_close.png) no-repeat 100% 50%; }
  .faq_list .a {
    display: none;
    padding: 30px 30px;
    background-color: #f6f6f6; }
    .faq_list .a strong {
      float: left;
      color: #666666; }
    .faq_list .a span {
      display: block;
      float: left;
      width: 810px; }

.new_open {
  position: relative;
  margin: 0 auto;
  width: 733px;
  background-color: #ae1d31;
  color: #fff; }
  .new_open .new_open_more {
    float: right;
    padding: 25px 43px 25px 0; }
    .new_open .new_open_more a {
      font-family: "Noto Sans KR", sans-serif;
      font-size: 14px; }
    .new_open .new_open_more i {
      display: inline-block;
      width: 7px;
      height: 8px;
      background-image: url("../imgs/more.png");
      background-repeat: no-repeat; }
  .new_open strong {
    float: left;
    margin: 25px 0 25px 43px;
    padding-right: 29px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: normal;
    border-right: 1px solid #fff; }
  .new_open .new_open_list li a {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px; }
  .new_open .bx-wrapper {
    position: relative;
    float: left;
    width: 340px;
    padding: 25px; }
    .new_open .bx-wrapper .new_open_list li {
      width: 100%; }
  .new_open a {
    color: #fff; }
  .new_open .bx-pager {
    display: none; }
  .new_open .bx-prev {
    width: 11px;
    height: 6px;
    background-image: url("../imgs/n_arrow_up.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 16px;
    right: 0; }
  .new_open .bx-next {
    width: 11px;
    height: 6px;
    background-image: url("../imgs/n_arrow_down.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 50px;
    right: 0; }
  .new_open .bx-start {
    position: absolute;
    top: 32px;
    right: 2px;
    width: 7px;
    height: 8px;
    background-image: url("../imgs/n_play.png");
    background-repeat: no-repeat; }
  .new_open .bx-stop {
    position: absolute;
    top: 32px;
    right: 2px;
    width: 7px;
    height: 8px;
    background-image: url("../imgs/n_pause.png");
    background-repeat: no-repeat; }

#map {
  position: relative;
  margin-top: 100px;
  width: 1000px;
  min-height: 560px;
  background-color: #ddd; }

.search_pop {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10; }

.store_search_tab {
  width: 300px;
  background-color: #fff; }
  .store_search_tab li {
    float: left;
    width: 50%;
    background-color: #fff; }
    .store_search_tab li a {
      height: 34px;
      text-align: center;
      line-height: 34px;
      border: 1px solid #fff;
      font-family: "Noto Sans KR", sans-serif;
      font-size: 14px; }
  .store_search_tab li.on {
    background-color: #ae1d31; }
    .store_search_tab li.on a {
      color: #fff;
      border: 1px solid #ae1d31; }

.store_search_con .store_input_wrap {
  padding-top: 9px;
  background-color: #ae1d31;
  height: 39px; }
  .store_search_con .store_input_wrap .store_input {
    margin: 0 20px;
    height: 29px;
    background-color: #fff; }
  .store_search_con .store_input_wrap .sch_txt {
    width: 80%;
    height: 29px;
    padding-left: 10px; }
  .store_search_con .store_input_wrap #name_submit_btn {
    width: 29px;
    height: 29px;
    float: right;
    background: url("../imgs/search.png") no-repeat 10px center; }

.result_list {
  width: 300px;
  height: 400px;
  overflow: auto; }
  .result_list .item {
    overflow: hidden;
    border: 1px solid #ddd; }
  .result_list a {
    padding: 12px 25px;
    background-color: #fff; }
  .result_list .store_thum {
    float: left;
    margin-right: 26px; }
  .result_list dl {
    float: left; }
    .result_list dl dt {
      font-family: "Noto Sans KR", sans-serif;
      font-size: 14px;
      font-weight: bold; }
    .result_list dl dd {
      font-family: "Noto Sans KR", sans-serif;
      font-size: 12px; }

.sub2.menu h2 {
  margin-bottom: 50px; }

.menu_top {
  text-align: center;
  position: relative; }
  .menu_top .lnb {
    display: inline-block; }
    .menu_top .lnb li {
      float: left;
      width: 114px;
      height: 35px;
      text-align: center;
      line-height: 35px;
      border: 1px solid #e7e7e7;
      border-left: none; }
      .menu_top .lnb li a {
        font-family: "Noto Sans KR", sans-serif;
        font-size: 14px; }
    .menu_top .lnb .first {
      border: 1px solid #e7e7e7; }
    .menu_top .lnb .first.on {
      background-color: #ae1d31;
      border-color: #ae1d31; }
      .menu_top .lnb .first.on a {
        color: #fff; }
  .menu_top .menu_visual {
    position: absolute; }
  .menu_top .coffee_visual {
    top: 0;
    right: -185px; }

.coffee .title span {
  font-weight: bold; }

.menu_cnt {
  margin-top: 100px;
  padding: 50px 0 100px 0;
  background-color: #f7f7f7; }

.menu #footer .ft_top {
  margin-top: 0; }

.app_sub h2 {
  color: #ae1d31; }

.app_sub .sub_visual {
  height: 350px;
  background-image: url("../imgs/sub/app_visual.png");
  background-repeat: no-repeat; }

.app_info {
  margin-left: 596px; }
  .app_info h2 {
    padding-top: 60px; }
  .app_info p {
    margin: 30px 0;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    font-weight: 200; }
  .app_info .dw_icon a {
    float: left; }
  .app_info .dw_icon .last {
    margin-left: 8px; }

.app_video {
  margin: 100px auto;
  width: 768px;
  height: 400px; }
  .app_video iframe {
    width: 100%;
    height: 100%; }

.use_info {
  text-align: center; }
  .use_info .title h3 {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 24px; }
  .use_info .title i {
    display: block;
    margin: 22px auto 35px;
    width: 26px;
    height: 2px;
    background-color: black; }
  .use_info dl {
    display: inline-block;
    width: 650px;
    box-sizing: border-box;
    padding: 54px 0 54px 220px;
    background-position: left center; }
    .use_info dl dt {
      padding-bottom: 32px;
      text-align: left;
      font-family: "Noto Sans KR", sans-serif;
      font-size: 16px;
      font-weight: bold; }
    .use_info dl dd {
      text-align: left;
      font-family: "Noto Sans KR", sans-serif;
      font-size: 14px;
      letter-spacing: -1px; }
    .use_info dl dd.last {
      margin-top: 15px; }
  .use_info .app_dw_step01 {
    background-image: url("../imgs/sub/app_dw_step01.png");
    background-repeat: no-repeat; }
  .use_info .app_dw_step02 {
    background-image: url("../imgs/sub/app_dw_step02.png");
    background-repeat: no-repeat; }
  .use_info .app_dw_step03 {
    background-image: url("../imgs/sub/app_dw_step03.png");
    background-repeat: no-repeat; }

.tab_lnb {
  margin: 100px auto 0;
  width: 1200px; }

.tab_control li {
  float: left;
  width: 220px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  border: 1px solid #f3f3f3;
  border-left: 0; }
  .tab_control li a {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 18px;
    font-weight: 200; }
.tab_control li.first {
  border: 1px solid #f3f3f3; }
.tab_control .tab_tit.on {
  background-color: #f3f3f3; }

.tab_wrap {
  display: none; }

.tab_wrap.on {
  display: block; }

.tab_cnt {
  position: relative;
  padding: 100px 0;
  width: 100%;
  background-color: #f3f3f3;
  text-align: center; }

.tab_cnt_title {
  display: inline-block; }

.tab_cnt_title .thumb {
  float: left; }

.tab_title {
  float: left;
  text-align: left;
  margin-left: 80px; }
  .tab_title h2 {
    margin-top: 40px; }
  .tab_title p {
    width: 404px;
    margin-top: 30px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    text-align: left; }

.tab_cnt_arrow {
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: -24px;
  transform: translate(-50%, -50%);
  width: 64px;
  height: 24px;
  background-image: url("../imgs/sub/app_arrow.png");
  background-repeat: no-repeat; }

.tab_cnt_info .title h3 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  font-weight: 400; }
.tab_cnt_info .title i {
  display: block;
  margin: 30px auto 50px;
  width: 26px;
  height: 2px;
  background-color: black; }

.howto {
  padding-bottom: 70px;
  border-bottom: 1px solid #e6e6e6; }
  .howto li {
    float: left;
    width: 33.3333%;
    text-align: center; }
    .howto li .thumb img {
      margin: 0 auto; }
  .howto .text {
    margin-top: 28px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: bold; }
    .howto .text strong {
      color: #ae1d31; }

.app_rewad .howto {
  padding-bottom: 0;
  text-align: center;
  border-bottom: 0; }
  .app_rewad .howto .center {
    display: inline-block; }
  .app_rewad .howto .thumb {
    float: left;
    margin-right: 100px; }
    .app_rewad .howto .thumb img {
      margin: 0 auto; }
    .app_rewad .howto .thumb p {
      margin-top: 20px;
      font-family: "Noto Sans KR", sans-serif;
      font-size: 16px;
      font-weight: bold; }
  .app_rewad .howto .text {
    float: left;
    text-align: left; }
    .app_rewad .howto .text p {
      font-family: "Noto Sans KR", sans-serif;
      font-size: 16px;
      font-weight: 400; }
      .app_rewad .howto .text p span {
        color: #ae1d31;
        font-weight: bold; }

.tab_wrap_02 .tab_cnt {
  padding: 100px 0 0; }
  .tab_wrap_02 .tab_cnt .thumb {
    margin-bottom: -4px; }
.tab_wrap_02 .tab_title {
  margin-top: 60px; }
  .tab_wrap_02 .tab_title h2 {
    margin-top: 0;
    text-align: left; }
  .tab_wrap_02 .tab_title .more_text01 {
    margin-top: 30px; }
  .tab_wrap_02 .tab_title .more_text02 {
    margin-top: 15px; }
.tab_wrap_02 .tab_cnt_info {
  margin-top: 100px; }
  .tab_wrap_02 .tab_cnt_info li {
    width: 25%;
    height: 490px;
    float: left; }
  .tab_wrap_02 .tab_cnt_info .thumb img {
    margin: 30px auto; }
  .tab_wrap_02 .tab_cnt_info .title {
    margin-top: 0; }
    .tab_wrap_02 .tab_cnt_info .title strong {
      font-family: "Noto Sans KR", sans-serif;
      font-size: 24px;
      font-weight: 400; }
    .tab_wrap_02 .tab_cnt_info .title p {
      margin-top: 18px;
      font-family: "Noto Sans KR", sans-serif;
      font-size: 14px;
      font-weight: 400; }
  .tab_wrap_02 .tab_cnt_info i {
    display: block;
    margin: 28px auto;
    width: 138px;
    height: 5px;
    background-image: url("../imgs/sub/app_reward_bar.png");
    background-repeat: no-repeat; }
  .tab_wrap_02 .tab_cnt_info .info {
    text-align: center; }
    .tab_wrap_02 .tab_cnt_info .info p {
      display: inline-block;
      text-align: left;
      font-family: "Noto Sans KR", sans-serif;
      font-size: 14px;
      font-weight: 400; }

.seed {
  background-color: #f9f9f9; }

.leaf {
  background-color: #f3f3f3; }

.cherry {
  background-color: #ebebeb; }

.cherryplus {
  background-color: #ffeff1; }

.rw_more_text {
  padding-top: 30px; }

.kinds dl {
  border: 1px solid #d6d6d6;
  border-left: none;
  border-right: none; }
.kinds .one {
  border-top: none; }
.kinds dl dt, .kinds dl dd {
  float: left; }
.kinds dt {
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 90px;
  padding: 12px 90px 12px 0;
  border-right: 1px solid #d6d6d6;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px; }
.kinds dd {
  margin: 38px 0 38px 150px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px; }

.character, .precautions {
  margin-top: 100px;
  float: left;
  width: 50%;
  box-sizing: border-box; }
  .character .last, .precautions .last {
    margin-bottom: 0; }
  .character .title, .precautions .title {
    margin-top: 30px; }
  .character .text, .precautions .text {
    padding: 0 70px;
    margin-bottom: 30px; }

.character {
  border-right: 1px solid #d6d6d6; }

.character p, .precautions p {
  margin-bottom: 32px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 12px;
  letter-spacing: -1px; }

/*# sourceMappingURL=contents.css.map */
