#footer .ft_top {
  margin-top: 100px; }

.location {
  max-width: 1000px;
  margin: 50px auto 12px; }
  .location span {
    font-family: 'dotum',sans-serif;
    font-size: 12px;
    padding-right: 8px;
    background: url(../imgs/sub/location_arrow.png) no-repeat right center; }
  .location a {
    display: inline-block;
    font-family: 'dotum',sans-serif; }
  .location .now {
    color: #ae1d31;
    background: none; }

h2 {
  margin-top: 50px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 48px;
  font-weight: 200; }

.sub_visual {
  width: 1200px;
  margin: 0 auto; }

.sub_contents dl dt {
  padding-top: 100px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  font-weight: 200; }
.sub_contents dl dd {
  padding: 30px 0 100px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 2;
  color: #8a8a8a; }
  .sub_contents dl dd span {
    color: #ae1d31; }
.sub_contents .brand_info {
  border-bottom: 1px solid #ebebeb; }
.sub_contents .pairing {
  background: url(../imgs/sub/brand_pairing.png) no-repeat right center;
  border-bottom: 1px solid #ebebeb; }
.sub_contents .desc {
  float: left; }
  .sub_contents .desc dd {
    padding-bottom: 30px; }
  .sub_contents .desc .btn {
    padding: 0; }
    .sub_contents .desc .btn a {
      padding: 4px 0;
      width: 82px;
      color: #fff;
      background-color: #ae1d31;
      text-align: center; }
.sub_contents .img {
  float: right;
  margin-top: 100px; }
  .sub_contents .img .img_wrap {
    float: left; }
  .sub_contents .img .img_wrap.last {
    margin-left: 30px; }
  .sub_contents .img p {
    margin-top: 24px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: center; }

.brand_history p {
  padding: 50px 0 100px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  font-weight: 200; }

.sub_history img {
  margin: 0 auto; }
.sub_history .history_01 dd, .sub_history .history_03 dd {
  padding-bottom: 0; }

.sub2 .title {
  margin-top: 70px;
  line-height: 1;
  text-align: center; }
  .sub2 .title p {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: 200; }
  .sub2 .title h2 {
    margin-top: 16px;
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #ae1d31; }

.sub2 fieldset {
  margin: 70px 0 100px;
  text-align: center; }
.sub2 select, .sub2 input[type="text"], .sub2 button[type="submit"] {
  width: 126px;
  padding: 4px 10px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: 200;
  background-color: #f0f0f0;
  border: none;
  border-radius: 0px; }
.sub2 .search_select {
  margin: 0 20px; }
.sub2 input[type="text"] {
  width: 306px;
  margin-right: 10px; }
.sub2 button[type="submit"] {
  width: 60px;
  color: #fff;
  background-color: #151515; }

.list_page {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: 300; }
  .list_page .result_pg {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 20px; }
    .list_page .result_pg span {
      color: #ae1d31;
      font-weight: bold; }

.list_table {
  width: 100%; }
  .list_table .first {
    border-color: #303030;
    text-align: left; }
    .list_table .first .num {
      width: 10%; }
    .list_table .first .cate {
      width: 21%; }
    .list_table .first .tit {
      width: 64%; }
  .list_table .date {
    text-align: right; }
  .list_table th, .list_table td {
    padding: 30px 0; }
  .list_table th {
    color: #b9b9b9;
    font-weight: normal; }
  .list_table tr {
    border-bottom: 1px solid #f4f4f4; }
    .list_table tr td {
      color: #000; }
  .list_table td a {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #000; }

.page_view {
  margin-top: 50px;
  text-align: center; }
  .page_view .prev, .page_view .next {
    text-indent: -9999px;
    background-position: center; }
  .page_view .prev {
    background-image: url("../imgs/sub/list_arrow_l.png");
    background-repeat: no-repeat; }
  .page_view .next {
    background-image: url("../imgs/sub/list_arrow_r.png");
    background-repeat: no-repeat; }
  .page_view a {
    display: inline-block;
    padding: 6px 0;
    width: 31px;
    text-align: center;
    font-size: 14px;
    color: #8a8a8a;
    border: 1px solid #ddd; }
  .page_view .now_pg {
    font-weight: bold; }

/*# sourceMappingURL=contents.css.map */
