.ft_notice .list .notic_cnt li .notice_text, .ft_notice .list .notic_cnt li .date {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, img {
  display: block; }

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit; }

input, textarea, button, select {
  border: 0 none;
  padding: 0;
  background: transparent; }

button, select {
  cursor: pointer; }

/*common*/
.ir {
  display: block;
  text-indent: -9999px; }

.clearfix:after {
  display: block;
  content: "";
  clear: both; }

.inner:after {
  content: "";
  display: block;
  clear: both; }

.etc_bx.on {
  display: block; }

.wrap .inner {
  width: 1200px;
  margin: 0 auto; }

.wrap.sub #container .inner {
  width: 1000px;
  margin: 0 auto; }

body, a, p {
  font-family: "Roboto", sans-serif;
  /* color: #2f2f2f; */
  }

.ft_notice .list .notic_cnt li .notice_text, .ft_notice .list .notic_cnt li .date {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.main_banner .bx-controls a, .slick-arrow, .search_store .btn .store_search_btn, .ft_notice .list .bx-prev, .ft_notice .list .bx-next, .ft_notice .list .bx-start, .ft_notice .list .bx-stop, .ft_info .title a, .ft_info .sns .facebook a, .ft_info .sns .insta a {
  display: block;
  text-indent: -9999px; }

legend, .screen_out, #header h2, .search_store .btn legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px; }

#header {
  position: relative;
  z-index: 30; }

#container {
  position: relative;
  z-index: 20; }

#footer {
  position: relative;
  z-index: 10; }

#skip_navi {
  position: absolute;
  color: #fff;
  width: 120px;
  padding: 7px 0;
  text-align: center;
  left: -9999px;
  background: #ae1d31;
  font-size: 12px; }
  #skip_navi:hover, #skip_navi:active, #skip_navi:focus {
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    z-index: 31; }

#header .inner {
  position: relative;
  min-height: 108px;
  background-color: #fff; }

#header .title {
  float: left;
  position: relative;
  z-index: 30; }
  #header .title a {
    margin: 39px 60px 0 0;
    width: 218px;
    height: 31px;
    background-image: url("../imgs/logo_hd.png");
    background-repeat: no-repeat; }

.gnb {
  float: left; }

.m_menu {
  float: left;
  position: relative;
  text-align: center; }
  .m_menu > a {
    position: relative;
    padding: 44px 40px 44px 40px;
    z-index: 30;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 700;
    background-color: #fff; }
  .m_menu .sub_menu {
    position: absolute;
    top: -100%;
    z-index: 22;
    padding-bottom: 50px;
    width: 100px;
    opacity: 0; }
    .m_menu .sub_menu a {
      padding: 6px 0;
      text-align: center;
      font-family: "Noto Sans KR", sans-serif;
      font-size: 12px;
      font-weight: 300;
      color: #a0a0a0; }
      .m_menu .sub_menu a:hover {
        text-decoration: underline;
        color: #ae1d31; }

.etc_menu {
  position: absolute;
  top: 44px;
  right: 0;
  z-index: 30; }
  .etc_menu .etc {
    float: left; }
  .etc_menu .search {
    position: relative;
    z-index: 30; }
    .etc_menu .search .search_icon {
      padding: 0 10px 50px;
      width: 16px;
      height: 16px;
      background-image: url("../imgs/search.png");
      background-repeat: no-repeat;
      background-position: center top; }
  .etc_menu .membership {
    position: relative;
    z-index: 30; }
    .etc_menu .membership .membership_icon {
      padding: 0 10px 50px;
      margin: 0 30px 0 10px;
      width: 15px;
      height: 13px;
      background-image: url("../imgs/membership.png");
      background-repeat: no-repeat;
      background-position: center top; }
  .etc_menu .app {
    position: relative;
    margin-top: -6px; }
    .etc_menu .app .app_l {
      width: 62px;
      height: 24px;
      border: 1px solid #ae1d31; }
    .etc_menu .app .app_bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 26px;
      height: 25px;
      background-color: #ae1d31;
      transition: 0.3s;
      background-image: url("../imgs/down.png");
      background-repeat: no-repeat;
      background-position: 7px 7px; }
    .etc_menu .app .app_text {
      position: absolute;
      top: 4px;
      right: 8px;
      font-family: "Roboto", sans-serif;
      font-size: 12px;
      font-weight: 700;
      color: #ae1d31; }

.search_bx {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  width: 238px;
  border: 1px solid #e5e5e5;
  z-index: 30;
  background-color: #fff; }
  .search_bx fieldset {
    padding: 29px 18px; }
    .search_bx fieldset .search_text {
      float: left;
      padding-left: 10px;
      width: 150px;
      height: 30px;
      border: 1px solid #e5e5e5;
      font-family: "Noto Sans KR", sans-serif;
      font-size: 12px;
      font-weight: normal; }
    .search_bx fieldset .search_btn {
      float: left;
      width: 39px;
      height: 32px;
      background-image: url("../imgs/serch_store.png");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-color: #c6c6c6; }

.search_bx.on {
  display: block; }

.membership_bx.on {
  display: block; }

.membership_bx {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 30;
  padding: 28px 18px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-align: center; }
  .membership_bx a {
    width: 200px;
    padding: 10px 0;
    border: 1px solid #e5e5e5; }
    .membership_bx a:hover {
      background-color: #c6c6c6;
      color: #fff; }
  .membership_bx .join_btn {
    margin-top: 6px; }

.menu_bg {
  position: absolute;
  top: -110px;
  right: 0;
  left: 0;
  z-index: 21;
  height: 218px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff; }

.section {
  margin-top: 36px; }

.main_banner {
  margin-top: 50px; }
  .main_banner .banner_wrap {
    width: 100%; }
    .main_banner .banner_wrap .area_wrap {
      position: relative;
      float: left;
      width: 33.333333%; }
    .main_banner .banner_wrap p {
      font-family: "Noto Sans KR", sans-serif;
      font-size: 16px; }

.main_banner .visual {
  width: 100%; }
.main_banner .desc {
  position: absolute;
  top: 56px;
  width: 100%;
  text-align: center;
  line-height: 0.95; }
  .main_banner .desc .desc_title {
    margin-top: 20px;
    font-size: 28px; }
    .main_banner .desc .desc_title span {
      color: #ae1d31; }
  .main_banner .desc p.desc_title {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: -1px; }

.main_banner .bx-controls {
  position: absolute;
  right: 20px;
  bottom: 20px; }
  .main_banner .bx-controls a {
    background-position: center;
    padding: 0 5px; }
  .main_banner .bx-controls .bx-controls-direction {
    display: none; }
  .main_banner .bx-controls .bx-controls-auto {
    float: right; }
    .main_banner .bx-controls .bx-controls-auto .bx-controls-auto-item {
      float: left; }
      .main_banner .bx-controls .bx-controls-auto .bx-controls-auto-item a {
        width: 8px;
        height: 12px; }
    .main_banner .bx-controls .bx-controls-auto .bx-start {
      background-image: url("../imgs/pager_play.png");
      background-repeat: no-repeat; }
    .main_banner .bx-controls .bx-controls-auto .bx-stop {
      background-image: url("../imgs/pager_pause.png");
      background-repeat: no-repeat; }
  .main_banner .bx-controls .bx-pager {
    float: left; }
    .main_banner .bx-controls .bx-pager .bx-pager-item {
      float: left; }
      .main_banner .bx-controls .bx-pager .bx-pager-item a {
        width: 12px;
        height: 12px;
        background-image: url("../imgs/pager_normal.png");
        background-repeat: no-repeat; }
      .main_banner .bx-controls .bx-pager .bx-pager-item a.active {
        background-image: url("../imgs/pager_selec.png");
        background-repeat: no-repeat; }

.twosome_app .app_store {
  width: 94px;
  position: absolute;
  top: 150px;
  right: 50%;
  left: 50%;
  transform: translateX(-50%); }
  .twosome_app .app_store .apple {
    margin-top: 8px; }

.new_arrival {
  position: relative; }
  .new_arrival .slide_depth {
    position: relative; }

.new_arrival .tumbnail_bx {
  padding-right: 33.333333%; }
  .new_arrival .tumbnail_bx .back_visual_img {
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    .new_arrival .tumbnail_bx .back_visual_img a {
      width: 100%;
      height: 100%; }

.new_arrival .text_bx {
  position: absolute;
  top: 50%;
  right: 0;
  padding: 90px;
  width: 50%;
  box-sizing: border-box;
  background-color: #fff;
  transform: translateY(-50%); }
  .new_arrival .text_bx .slide_title span {
    display: block;
    color: #ae1d31;
    font-size: 20px; }
  .new_arrival .text_bx .slide_title strong {
    display: block;
    margin-top: 34px;
    font-size: 45px;
    line-height: 1.1;
    color: #2b2b2b; }
  .new_arrival .text_bx .slide_desc {
    padding-top: 160px; }
    .new_arrival .text_bx .slide_desc p {
      font-family: "Noto Sans KR", sans-serif;
      font-size: 14px; }

.slick-arrow {
  width: 30px;
  height: 19px;
  z-index: 11; }

.new_arrival .slick-prev {
  position: absolute;
  top: 50%;
  left: 625px;
  transform: translateY(-50%);
  background-image: url("../imgs/arrow_l.png");
  background-repeat: no-repeat; }
.new_arrival .slick-next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-image: url("../imgs/arrow_r.png");
  background-repeat: no-repeat; }

.number-slide-dots {
  position: absolute;
  top: 410px;
  left: 685px; }
  .number-slide-dots li {
    display: inline-block;
    margin: 0 3px; }
    .number-slide-dots li button {
      width: 40px;
      height: 40px;
      box-sizing: border-box;
      border-width: 2px;
      border-style: solid;
      border-color: transparent;
      border-radius: 50%;
      line-height: 36px;
      text-align: center;
      font-size: 20px; }
  .number-slide-dots .slick-active button[type=button] {
    color: #ae1d31;
    border-color: #ae1d31; }

.store {
  color: #fff; }
  .store .store_bx, .store .desc {
    float: left; }
  .store .store_bx {
    box-sizing: border-box;
    padding: 50px 36px 46px 50px;
    width: 50%; }
  .store .title {
    line-height: 0.95; }
    .store .title h2 {
      font-family: "Roboto", sans-serif;
      font-size: 28px; }
    .store .title p {
      margin-top: 26px;
      font-family: "Noto Sans KR", sans-serif;
      font-size: 16px;
      color: #fff; }
  .store .btn {
    margin-top: 70px; }

.franchise {
  background-color: #ae1d31; }
  .franchise .btn a {
    padding: 12px 22px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 2px;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    transition: 0.5s; }
    .franchise .btn a:hover {
      background-color: #fff;
      color: #ae1d31; }
  .franchise .icon_area {
    float: right;
    margin-top: 27px;
    width: 181px;
    height: 177px;
    background-image: url("../imgs/franchise.png");
    background-repeat: no-repeat; }

.search_store {
  background-color: #303030; }
  .search_store .icon_area {
    float: right;
    margin-top: 19px;
    width: 197px;
    height: 185px;
    background-image: url("../imgs/find_srote.png");
    background-repeat: no-repeat; }
  .search_store .btn {
    position: relative; }
    .search_store .btn .store_search {
      padding: 14px 10px;
      width: 198px;
      border: 2px solid #fff;
      border-radius: 2px;
      background-color: #525252;
      color: #fff;
      font-family: "Noto Sans KR", sans-serif;
      font-size: 14px; }
    .search_store .btn .store_search::placeholder {
      color: #fff; }
    .search_store .btn .store_search_btn {
      position: absolute;
      top: 16px;
      right: 19px;
      width: 15px;
      height: 15px;
      background-image: url("../imgs/serch_store.png");
      background-repeat: no-repeat; }

.best_item {
  margin-top: 70px;
  background-color: #f6f6f6;
  padding-bottom: 50px; }
  .best_item .inner {
    position: relative; }
  .best_item .title {
    padding: 50px 0 15px;
    font-size: 28px;
    color: #2b2b2b;
    text-align: center; }
  .best_item .control {
    text-align: center; }
    .best_item .control ul {
      display: inline-block;
      margin: 0 auto; }
    .best_item .control li {
      float: left;
      margin: 0 15px;
      font-family: "Roboto", sans-serif;
      font-size: 16px; }
      .best_item .control li a {
        color: #5e5e5e; }
    .best_item .control li.on a {
      color: #ae1d31;
      text-decoration: underline; }
  .best_item .product ul {
    margin: 50px 154px 0; }
    .best_item .product ul li {
      float: left;
      overflow: hidden;
      margin-right: 29px;
      width: 278px;
      height: 350px;
      background-color: #fff;
      background-position: center;
      background-size: 270px; }
    .best_item .product ul li.last {
      margin-right: 0; }
  .best_item .product a {
    width: 100%;
    height: 100%; }
  .best_item .ct1 .first {
    background-image: url("../imgs/product/drink/coffe/2097_big_img.jpg");
    background-repeat: no-repeat; }
  .best_item .ct1 .second {
    background-image: url("../imgs/product/drink/coffe/2098_big_img.jpg");
    background-repeat: no-repeat; }
  .best_item .ct1 .last {
    background-image: url("../imgs/product/drink/coffe/2099_big_img.jpg");
    background-repeat: no-repeat; }
  .best_item .ct2 .first {
    background-image: url("../imgs/product/md/1939_big_img.jpg");
    background-repeat: no-repeat; }
  .best_item .ct2 .second {
    background-image: url("../imgs/product/md/1938_big_img.jpg");
    background-repeat: no-repeat; }
  .best_item .ct2 .last {
    background-image: url("../imgs/product/md/1638_big_img.jpg");
    background-repeat: no-repeat; }
  .best_item .ct3 .first {
    background-image: url("../imgs/product/dessert/1885_big_img.jpg");
    background-repeat: no-repeat; }
  .best_item .ct3 .second {
    background-image: url("../imgs/product/dessert/2076_big_img.jpg");
    background-repeat: no-repeat; }
  .best_item .ct3 .last {
    background-image: url("../imgs/product/dessert/2094_big_img.jpg");
    background-repeat: no-repeat; }
  .best_item .slide_arrow {
    position: absolute;
    top: 370px;
    right: 0;
    left: 0;
    width: 1200px; }
    .best_item .slide_arrow .slick-prev {
      position: static;
      float: left;
      background-image: url("../imgs/arrow_l.png");
      background-repeat: no-repeat; }
    .best_item .slide_arrow .slick-next {
      position: static;
      float: right;
      background-image: url("../imgs/arrow_r.png");
      background-repeat: no-repeat; }

.video {
  margin: 80px 0;
  height: 400px;
  background-image: url("../imgs/video.png");
  background-repeat: no-repeat; }

.video_bx {
  text-align: center; }
  .video_bx .desc p {
    color: #fff; }
  .video_bx .desc .sub {
    padding-top: 90px; }
  .video_bx .desc .title {
    margin: 64px 0 40px;
    font-size: 28px; }
  .video_bx .play_btn {
    color: #fff;
    margin: 0 auto;
    border: 1px solid #fff;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    text-align: center;
    line-height: 63px;
    font-size: 15px;
    transition: 0.5s; }
    .video_bx .play_btn:hover {
      background-color: #fff;
      color: rgba(0, 0, 0, 0.5); }

#footer {
  background-color: #262626;
  color: #848484; }
  #footer .ft_top {
    border-bottom: 1px solid #464646; }

.notice_title, .list, .more {
  float: left; }

.list, .more {
  padding: 30px 0; }

.ft_notice {
  position: relative; }
  .ft_notice .notice_title h3 .title_icon {
    margin-top: 26px;
    float: left;
    width: 30px;
    height: 30px;
    background-image: url("../imgs/notice.png");
    background-repeat: no-repeat; }
  .ft_notice .notice_title h3 .title_h2 {
    position: relative;
    float: left;
    margin: 34px 0 0 18px;
    padding-right: 18px;
    border-right: 1px solid #c6c6c6;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 0.95; }
  .ft_notice .list {
    width: 600px;
    box-sizing: border-box; }
    .ft_notice .list .notic_cnt li {
      margin-left: 30px; }
      .ft_notice .list .notic_cnt li a span {
        color: #848484; }
      .ft_notice .list .notic_cnt li .notice_text {
        display: inline-block;
        width: 420px;
        font-family: "Noto Sans KR", sans-serif;
        font-size: 16px;
        font-weight: normal; }
      .ft_notice .list .notic_cnt li .date {
        display: inline-block;
        margin-left: 40px;
        font-family: "Noto Sans KR", sans-serif;
        font-size: 16px;
        font-weight: normal; }
    .ft_notice .list .bx-pager {
      display: none; }
    .ft_notice .list .bx-controls {
      position: absolute;
      top: 5px;
      right: 142px; }
    .ft_notice .list .bx-prev {
      width: 11px;
      height: 6px;
      background-image: url("../imgs/n_arrow_up.png");
      background-repeat: no-repeat;
      position: absolute;
      top: 16px;
      left: 0; }
    .ft_notice .list .bx-next {
      width: 11px;
      height: 6px;
      background-image: url("../imgs/n_arrow_down.png");
      background-repeat: no-repeat;
      position: absolute;
      top: 50px;
      left: 0; }
    .ft_notice .list .bx-start {
      position: absolute;
      top: 32px;
      left: 2px;
      width: 7px;
      height: 8px;
      background-image: url("../imgs/n_play.png");
      background-repeat: no-repeat; }
    .ft_notice .list .bx-stop {
      position: absolute;
      top: 32px;
      left: 2px;
      width: 7px;
      height: 8px;
      background-image: url("../imgs/n_pause.png");
      background-repeat: no-repeat; }
  .ft_notice .more {
    float: right; }
    .ft_notice .more a {
      color: #fff;
      font-family: "Noto Sans KR", sans-serif;
      font-size: 14px;
      font-weight: normal; }
      .ft_notice .more a i {
        display: inline-block;
        width: 7px;
        height: 8px;
        background-image: url("../imgs/more.png");
        background-repeat: no-repeat; }

.ft_info .title {
  float: left;
  margin: 32px 34px 0 0; }
  .ft_info .title a {
    width: 210px;
    height: 30px;
    background-image: url("../imgs/logo_ft.png");
    background-repeat: no-repeat; }
.ft_info .twosome_info {
  float: left;
  width: 600px; }
.ft_info .sns {
  margin-top: 32px;
  float: right; }
  .ft_info .sns .facebook a {
    width: 28px;
    height: 28px;
    background-image: url("../imgs/fb.png");
    background-repeat: no-repeat; }
  .ft_info .sns .insta a {
    margin-left: 8px;
    width: 28px;
    height: 28px;
    background-image: url("../imgs/insta.png");
    background-repeat: no-repeat; }

.info_01 li, .info_02 li, .sns_ul li {
  float: left;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 12px;
  font-weight: normal; }

.info_01 {
  padding-top: 32px; }
  .info_01 li {
    margin-left: 9px;
    line-height: 0.95;
    border-right: 1px solid #c6c6c6; }
    .info_01 li a {
      padding-right: 10px;
      color: #848484; }
      .info_01 li a:hover {
        text-decoration: underline; }
  .info_01 .first {
    margin-left: 0; }
  .info_01 .last {
    border-right: 0; }
  .info_01 .highlight a {
    color: #fff; }

.info_02 {
  width: 610px;
  margin-top: 6px; }
  .info_02 li {
    margin: 0 6px 6px 0;
    padding-right: 6px;
    background: url(../imgs/bar.png) no-repeat right center; }
  .info_02 .last {
    padding-right: 0;
    margin-right: 0;
    background: none; }

.copyright {
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 12px; }

/*# sourceMappingURL=style.css.map */
