@import 'font';

/*reset*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label,legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;padding: 0;border: 0;
}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
table {
border-collapse: collapse;border-spacing: 0;
}
a,img{
	display: block;
}
a {
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}
input, textarea, button, select{
	border: 0 none;padding: 0;background:transparent;
	cursor: pointer;
}
/*common*/
.ir{
	display: block;text-indent: -9999px;
}
.clearfix:after{
	display: block;content: "";clear: both
}
.inner:after{
	content: ""; display: block; clear: both;
}
.etc_bx.on {
	display: block;
}
.wrap.main .inner{
	width: 1200px;margin: 0 auto;
}
body, a, p {
	
	@include font_en_w();
	color: #2f2f2f;

}