@import 'font';
@import 'color';
@import 'zindex';
@import 'position';
@import 'blind';
@import 'bg';

#footer .ft_top {margin-top: 100px;}

//현재위치
.location {
	max-width: 1000px;
	margin: 50px auto 12px;
	span {
		font-family: 'dotum',sans-serif;
		font-size:12px;
		padding-right: 8px;
		background: url(../imgs/sub/location_arrow.png) no-repeat right center;
	}

	a {
		display:inline-block;
		font-family: 'dotum',sans-serif;
	}
	.first {

	}
	.now {
		color: $brand_color;
		background: none;
	}
}


//sub_common
h2 {
	margin-top: 50px;
	@include font_k_w(48px,200);
}

.title_bar {
    margin-top: 100px;
	text-align: center;
	@include font_k_w(24px,400);
}
.line_bar {
	display: block;	
	margin: 24px auto 100px;
	width: 26px;
	height: 2px;
	background-color: black;
}


table {

	font-family: "Noto Sans KR", sans-serif;
	text-align: center;
	width: 100%;

	tr {

	border-bottom: 1px solid #f4f4f4;
	}

	thead th {
		padding-bottom: 40px;
		font-size: 16px;
		color: #8a8a8a;
		border-bottom: 1px solid #303030;
	}
	
	tbody,tfoot {
		font-size: 14px;
		th {
			font-weight: 400;
			padding: 32px 0;
		}
	}
	
	tfoot {
		tr {background-color: #f7f7f7;}
	}
}

//brand_cate

//info
.sub_visual {

	width: 1200px;
	margin: 0 auto;
}

.brand_cate {

	dl {
		dt {
			padding-top: 100px;
			@include font_k_w(24px,200);
		}
		dd {
			padding: 30px 0 100px;
			@include font_k_w(14px,300);
			line-height: 2;
			color: #8a8a8a;
			span {
				color:$brand_color;
			}
		}
	}

	.brand_info {
		border-bottom: 1px solid #ebebeb;
	}

	.pairing {
		background: url(../imgs/sub/brand_pairing.png) no-repeat right center;
		border-bottom: 1px solid #ebebeb;
	}

	.desc {
		float:left;
		dd {

			padding-bottom: 30px; 
		}

		.btn { 

			padding:0;
			a{
				padding: 4px 0;
				width:82px;
				color:#fff;
				background-color: $brand_color;
				text-align: center;
			}
		}
	}
	.img {
		float: right;
		margin-top:100px;
		
		.img_wrap {
			float:left;
		}
		.img_wrap.last {
			margin-left: 30px;
		}
		p {
			margin-top: 24px;
			@include font_k_w(14px,300);
			text-align:center;
		}
	}

}

//brand_history

.brand_history {
	
	p {
		padding: 50px 0 100px;
		@include font_k_w(24px,200);
	}
}

.sub_history {
	
	img {
		margin: 0 auto;
	}
	.history_01,.history_03 {
		dd {
			padding-bottom: 0;
		}
	}

}



//sub2 title
.sub2 {

	.title {
		margin-top: 70px;
		line-height: 1;
		text-align: center;
		p {
			@include font_k_w(16px,200);
		}
		h2 {
			margin: 16px 0 100px 0;
			@include font_k_w(48px,bold);
			color: $brand_color;
		}
	}
}

//notice
.sub2.notice {

	fieldset {
		margin-bottom: 100px;
		text-align: center;
	}

	select,input[type="text"],button[type="submit"] { 
		width: 126px;
		padding: 4px 10px; 
		@include font_k_w(14px,200);
		background-color: #f0f0f0;
		border: none;
		border-radius: 0px; 
	}
	.search_select {
		margin: 0 20px;
	}
	
	input[type="text"] {
		width: 306px;
		margin-right: 10px;
	}

	button[type="submit"] {
		width: 60px;
		color: #fff;
		background-color: #151515;
	}
}

.list_page {
	@include font_k_w(14px,300);
	
	table tbody td {
		text-align: left;
	}
	.result_pg {
		@include font_k_w(14px,300);
		font-size: 18px;
		margin-bottom: 20px;
		span {
			color: $brand_color;
			font-weight: bold;
		}
	}
}

.list_table {
	width: 100%;
	.first {
		border-color: #303030;
		text-align: left;

		.num {width: 10%;}
		.cate {width: 21%;}
		.tit {width: 64%;}
	}

	.date {
		text-align: right;
	}

	th,td {
		
		padding: 30px 0;
	}

	th{
		color: #b9b9b9;
		font-weight: normal;
	}

	tr {
		border-bottom: 1px solid #f4f4f4;
		td {color: #000;}
	}
	

	td a {
		@include font_k_w(14px,300);
		color: #000;

	}
}

.page_view {
	
	margin-top: 50px;
	text-align: center;
	
	.prev, .next {
		text-indent: -9999px;
		background-position: center;
	}

	.prev {@include bgi('../imgs/sub/list_arrow_l.png');}
	.next {@include bgi('../imgs/sub/list_arrow_r.png');}

	a {
		
		display: inline-block;
		padding: 6px 0;
		width: 31px;
		text-align: center;
		font-size: 14px;
		color: #8a8a8a;
		border: 1px solid #ddd;

	}
	
	.now_pg {
		font-weight: bold;
		border-color: $brand_color;
		color: $brand_color;
	}
}


//open_info

.open_step_cnt {

	.open_step_wrap{
		@include bgi('../imgs/sub/fr_bg.png');
		background-position: 6px 5px;
		text-align: center;
	}

	.open_step_bx {
		display: inline-block;
		dl {
			padding-top: 110px;
			margin: 0 43px 130px 0;	
			width: 210px;
			text-align: center;	
			background-position: center 0;
		}
		
		dt {
			
			.step_num{
				color: $brand_color;
				@include font_k_w(16px,400);
			}
			.tit{
				@include font_k_w(16px,bold);
				color: #2f2f2f;
			}

		}
		dd {
			margin-top: 20px;
			@include font_k_w(12px,200);
		}

		.open_step_04,.open_step_05 {
			margin-right: 0;
		}

		.open_step_01{@include bgi('../imgs/sub/fr_01.png');}
		.open_step_02{@include bgi('../imgs/sub/fr_02.png');}
		.open_step_03{@include bgi('../imgs/sub/fr_03.png');}
		.open_step_04{@include bgi('../imgs/sub/fr_04.png');}
		.open_step_05{@include bgi('../imgs/sub/fr_05.png');}
		.open_step_06{@include bgi('../imgs/sub/fr_06.png');}
		.open_step_07{@include bgi('../imgs/sub/fr_07.png');}
		.open_step_08{@include bgi('../imgs/sub/fr_08.png');}
	}
	
	.bx_row_01 {
		
		dl {float: left;}

	}

	.bx_row_02 {
		dl {float: right; margin-bottom: 0;}
	}
}

.open_condition {

	.t_type {
		width: 40%;
	}
	.t_cnt {
		width: 60%;
	}

}

.money {

	.t_type {
		width: 20%;
	}
	.t_money {
		width: 20%;
	}
	.t_cnt {
		width: 60%;
	}
}

.more_info {
	margin-top: 32px;
	@include font_k_w(14px);
	span {
		color:$brand_color;
		font-weight: bold;
	}
}


//event

.event_bx_wrap {
	padding-top: 60px;
	border-top: 1px solid #dfdfdf;
	
	ul li {
		margin: 0 101px 78px 0;
		width: 266px;
		float: left;
	}

	.mr0 {margin-right: 0;}
	
	.tit {
		@include font_k_w(18px);
		margin: 33px 0 16px;
		line-height: 26px;
	}
	.date {
		@include font_k_w(12px,200);
	}
}


//FAQ


.faq_list {

	border-top: 1px solid #303030;

	li {
		border-bottom: 1px solid #d2d2d2;
		span {
			@include font_k_w();
		}
	}

	strong {
		margin-right: 50px;
		@include font_en_w(30px,bold);
		color: $brand_color;
	}

	.q {
		margin: 30px 30px;
		background: url(../imgs/sub/faq_arrow.png) no-repeat 100% 50%;
		span {
			display: inline-block;
			width: 800px;
			overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
		}
	}
	
	.q.active {
		display: block;
		background: url(../imgs/sub/faq_arrow_close.png) no-repeat 100% 50%;
	}

	.a {
		display: none;
		padding: 30px 30px;
		background-color: #f6f6f6;
		strong {
			float: left;
			color: #666666;
		}
		span {
			display: block;
			float: left;
			width: 810px;

		}

	}

}


// find map 
.new_open {
	position: relative;
	margin: 0 auto;
	width: 733px;
	background-color: $brand_color;
	color: #fff;

	.new_open_more {
		float: right;
		padding: 25px 43px 25px 0;
		a {@include font_k_w(14px);}
			i {
				display: inline-block;
				width: 7px;
				height: 8px;
				@include bgi('../imgs/more.png');

			}
	}

	strong {
		float: left;
		margin: 25px 0 25px 43px;
		padding-right: 29px;
		@include font_k_w(16px);
		font-weight: normal;
		border-right: 1px solid #fff;
	}


	.new_open_list li a {
		@include font_k_w(16px);
	}
	
	.bx-wrapper {
		position: relative;
		float: left;
		width: 340px;
		padding: 25px;
		.new_open_list li {
			width: 100%;
		}
	}

	a {
		color: #fff;
	}


	.bx-pager {
		display: none;
	}

	.bx-prev {

		@extend %ir;
		width: 11px;
		height: 6px;
		@include bgi('../imgs/n_arrow_up.png');
		@include absolute ($top: 16px, $right: 0);
	}

	.bx-next {

		@extend %ir;
		width: 11px;
		height: 6px;
		@include bgi('../imgs/n_arrow_down.png');
		@include absolute ($top: 50px, $right: 0);
	}
	
	.bx-start {
		@include absolute ($top: 32px, $right: 2px);
		width: 7px;
		height: 8px;
		@extend %ir;
		@include bgi('../imgs/n_play.png');
	}
	.bx-stop {
		@include absolute ($top: 32px, $right: 2px);
		width: 7px;
		height: 8px;
		@extend %ir;
		@include bgi('../imgs/n_pause.png');

	}
}


#map {
	position: relative;
	margin-top: 100px;
	width: 1000px;
	min-height: 560px;
	background-color: #ddd;
}

.search_pop {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 10;
}

.store_search_tab {
	width: 300px;
	background-color: #fff;

	li {
		float: left;
		width: 50%;
		background-color: #fff;

		a {
			height: 34px;
			text-align: center;
			line-height: 34px;
			border: 1px solid #fff;
			@include font_k_w(14px);
		}
	}

	li.on {
		background-color: $brand_color;
		
		a {
			color: #fff;
			border: 1px solid $brand_color;
		}
	}
}

.store_search_con {
	

	.store_input_wrap {
		
		padding-top: 9px;
		background-color: $brand_color;
		height: 39px;
		

		.store_input {
			margin: 0 20px;
			height: 29px;
			background-color: #fff;
		}
		
		.sch_txt {
			width: 80%;
			height: 29px;
			padding-left: 10px;
		}
		#name_submit_btn {
			width: 29px;
			height: 29px;
			float: right;
			background: url('../imgs/search.png') no-repeat 10px center;
		}
	}

}

.result_list {
	width: 300px;
	height: 400px;
	overflow: auto;
	
	.item {
		overflow: hidden;
		border: 1px solid #ddd;
	}

	a {
		padding: 12px 25px;
		background-color: #fff;
	}

	.store_thum {
		float: left;
		margin-right: 26px;
	}
	dl {
		float: left;

		dt {@include font_k_w(14px, bold)}
		dd {@include font_k_w(12px)}
	}
}

.sub2.menu {
	
	h2 {
		margin-bottom: 50px;
	}

}

//menu

.menu_top {
	text-align: center;
	position: relative;
	.lnb{
		display: inline-block;
		li{
			float: left;
			width: 114px;
			height: 35px;
			text-align: center;
			line-height: 35px;
			border: 1px solid #e7e7e7;
			border-left: none;
			a {
				@include font_k_w(14px)
			}
		}
		.first{
			border: 1px solid #e7e7e7;
		}
		.first.on {
			background-color: $brand_color;
			border-color: $brand_color;
			a {
				color: #fff;
			}
		}
	}

	.menu_visual{
		position: absolute;
	}
	.coffee_visual{
		top: 0;
		right: -185px;
	}
}
.coffee {
	
	.title span {
		font-weight: bold;
	}

}
.menu_cnt {
	margin-top: 100px;
	padding: 50px 0 100px 0;
	background-color: #f7f7f7;
}

.menu #footer .ft_top {margin-top: 0;}


//app
.app_sub {
	h2 {
		color: $brand_color;
	}
}
.app_sub .sub_visual {
	height: 350px;
	@include bgi('../imgs/sub/app_visual.png');
}
.app_info {
	margin-left: 596px;
	h2 {
		padding-top: 60px;
	}

	p {
		margin: 30px 0;
		@include font_k_w(14px,200);
	}

	.dw_icon {
		
		a {float: left;}

		.last {margin-left: 8px;}

	}
}

.app_video {
	margin: 100px auto;
	width: 768px;
	height: 400px;
	iframe {width: 100%; height: 100%;}
}

.use_info {
	text-align: center;
	.title{
		h3 {
			@include font_k_w(24px);
		}
		
		i {
			display: block;
			margin: 22px auto 35px;
			width: 26px;
			height: 2px;
			background-color: black;
		}
	}
	
	dl {
		display: inline-block;
		width: 650px;
		box-sizing: border-box;
		padding: 54px 0 54px 220px;
		background-position: left center;
		dt {
			padding-bottom: 32px;
			text-align: left;
			@include font_k_w(16px,bold);
		}
		dd {
			text-align: left;
			@include font_k_w(14px);
			letter-spacing: -1px;
		}

		dd.last {
			margin-top: 15px;
		}
	}
	.app_dw_step01 {
		@include bgi('../imgs/sub/app_dw_step01.png');
	}
	.app_dw_step02 {
		@include bgi('../imgs/sub/app_dw_step02.png');
	}
	.app_dw_step03 {
		@include bgi('../imgs/sub/app_dw_step03.png');
	}
}

.tab_lnb {
	margin: 100px auto 0;
	width: 1200px;
}

.tab_control {
	
	li {
		float: left;
		width: 220px;
		height: 70px;
		text-align: center;
		line-height: 70px;
		border: 1px solid #f3f3f3;
		border-left: 0;
		a {
			@include font_k_w(18px,200);
		}
	}
	
	li.first {
		border: 1px solid #f3f3f3;
	}

	.tab_tit.on {
		background-color: #f3f3f3;
	}
}

.tab_wrap {display: none;}
.tab_wrap.on {display: block;}

.tab_cnt {
	position: relative;
	padding: 100px 0;
	width: 100%;
	background-color: #f3f3f3;
	text-align: center;
}

.tab_cnt_title {
	display: inline-block;
}
.tab_cnt_title .thumb {float: left;}
.tab_title {
	float: left;
	text-align: left;
	h2 {margin-top: 40px;}
	margin-left: 80px;
	p {
		width: 404px;
		margin-top: 30px;
		@include font_k_w(14px);
		text-align:left;
	}
}

.tab_cnt_arrow {
	position: absolute;
	left: 50%;
	right: 50%;
	bottom: -24px;
	transform: translate(-50%, -50%);
	width: 64px;
	height: 24px;
	@include bgi('../imgs/sub/app_arrow.png');
}

.tab_cnt_info {
	.title {

		h3 {
			@include font_k_w(24px,400);
		}

		i {
			display: block;
		    margin: 30px auto 50px;
		    width: 26px;
		    height: 2px;
		    background-color: black;
		}
	}
}

.howto {
	
	padding-bottom: 70px;
	border-bottom: 1px solid #e6e6e6;

	li {
		float: left;
		width: 33.3333%;
		text-align: center;
		.thumb {
			
			img{
				margin: 0 auto;
			}
		}
	}

	.text{
		margin-top: 28px;
		@include font_k_w(16px,bold);
		strong {color:$brand_color;}
	}

}

.app_rewad .howto {
	padding-bottom: 0;
	text-align:center;
	.center {
		display: inline-block;
	}
	border-bottom: 0;
	.thumb {
		float: left;
		margin-right: 100px;
		img {margin: 0 auto;}
		p{
			margin-top: 20px;
			@include font_k_w(16px,bold);
		}
	}
	.text {
		float: left;
		text-align:left;
		p { 
			@include font_k_w(16px,400);
			span {
				color:$brand_color;
				font-weight: bold;
			}
		}
	}
}

.tab_wrap_02 {
	.tab_cnt{
		padding: 100px 0 0;
		.thumb{
			margin-bottom: -4px;
		}
	}
	.tab_title{
		margin-top: 60px;
		h2{
			margin-top: 0;
			text-align: left;
		}
		.more_text01 {
			margin-top: 30px;
		}
		.more_text02 {
			margin-top: 15px;
		}
	}

	.tab_cnt_info {
		margin-top: 100px;

		li{
			width: 25%;
			height: 490px;
			float: left;
		}

		.thumb img {
			margin: 30px auto;
		}

		.title {
			margin-top: 0;
			strong{
				@include font_k_w(24px,400);
			}
			p{
				margin-top: 18px;
				@include font_k_w(14px,400);
			}
		}

		i {
		    display: block;
		    margin: 28px auto;
		    width: 138px;
		    height: 5px;
		    @include bgi('../imgs/sub/app_reward_bar.png');
		}

		.info{ 
			text-align: center;
			p {
				display: inline-block;
				text-align: left;
				@include font_k_w(14px,400);
			}
		}
	
	}
}

.seed {
	background-color: #f9f9f9;
}
.leaf {
	background-color: #f3f3f3;
}
.cherry {
	background-color: #ebebeb;
}
.cherryplus {
	background-color: #ffeff1;
}
.rw_more_text {
	padding-top: 30px;
}

.kinds {
	dl {
		border: 1px solid #d6d6d6;
		border-left:none;
		border-right:none;
	}
	.one {border-top: none;}
	dl dt, dl dd {
		
		float: left;
	}
	dt {
		margin-top: 24px;
		margin-bottom: 24px;
		margin-left: 90px;
		padding: 12px 90px 12px 0;
		border-right: 1px solid #d6d6d6;
		@include font_k_w(14px);
	}
	dd {
		margin: 38px 0 38px 150px;
		@include font_k_w(14px);
	}
}
.character,.precautions {
	margin-top:100px;
	float: left;
	width: 50%;
	box-sizing: border-box;

	.last {
		margin-bottom: 0;
	}

	.title{
		margin-top: 30px;
	}

	.text {
		padding: 0 70px;
		margin-bottom: 30px;
	}
}

.character {
	border-right: 1px solid #d6d6d6;
}
.character p,.precautions p {
	margin-bottom: 32px;
	@include font_k_w(12px);
	letter-spacing: -1px;
}


//login


//login

.login_area {
	float: left;
	fieldset {
		width: 500px;
	}
	h2 {
		margin: 140px 0 60px;
		color: $brand_color;
		font-weight: 400;
		line-height: 1;
	}
}

.inpt_wrap {
	position: relative;
	width: 498px;
	height: 48px;
	border: 1px solid #cbcbcb;
	label {
		position: absolute;
		top: 50%;
		left: 10px;
		transform: translateY(-50%);
		color: #949494;
		@include font_k_w(12px);
	}
	input {
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		padding-left: 10px;
	}

}

.inpt_label {
		@include font_k_w(12px);
}

.chk_info {
	margin-top: 14px;
}

.pw_wrap {
	margin-top: 18px;
}

.id_save_wrap {
	position: relative;
	float: left;
	input {
		display: none;
	}


	label {
		@include font_k_w(12px);
		cursor: pointer;
		&:before {
			content:"";
			display: inline-block;
    		margin: 5px 5px 0 0;
			width: 15px;
			height: 15px;
			vertical-align: top;
			@include bgi('../imgs/sub/id_bx.png');
		}		
	}

}

.inp_chk:checked {
    + label {
    		&:before {
			@include bgi('../imgs/sub/id_bx_chk.png');
			}
    }
}

.find_wrap {
	float: right;
	li {
		margin-top: 3px;
		float: left;
		a {
			@include font_k_w(12px);
		}
		.last {
			margin-left: 12px;
		}
	}
}

.btn_submit {
	margin-top: 14px;
	width: 60px;
	height: 60px;
	border-radius: 50% 50%;
	background-color: $brand_color;
	color: #fff;
}


.join_area {
	float: right;
	width: 400px;
	border-left: 1px solid #ededed;
	.text_cj {
		@inlcude font_k_w(16px);
		p {
			display: inline-block;
			margin: 140px 0 0 100px;
			color: #959595;
			text-align: left;
		}
	}

	.join_cj {
		margin: 46px 0 0 100px;
		&:hover {
			text-decoration: underline;
		}
	}

	.join_bg {
		margin-top: 40px;
		img {
			margin-left: 100px;
		}
	}
}
