@import 'font';
@import 'color';
@import 'zindex';
@import 'position';
@import 'blind';
@import 'bg';

#footer .ft_top {margin-top: 100px;}

//현재위치
.location {
	max-width: 1000px;
	margin: 50px auto 12px;
	span {
		font-family: 'dotum',sans-serif;
		font-size:12px;
		padding-right: 8px;
		background: url(../imgs/sub/location_arrow.png) no-repeat right center;
	}

	a {
		display:inline-block;
		font-family: 'dotum',sans-serif;
	}
	.first {

	}
	.now {
		color: $brand_color;
		background: none;
	}
}


//sub_common
h2 {
	margin-top: 50px;
	@include font_k_w(48px,200);
}

//brand_info

.sub_visual {

	width: 1200px;
	margin: 0 auto;
}

.sub_contents {

	dl {
		dt {
			padding-top: 100px;
			@include font_k_w(24px,200);
		}
		dd {
			padding: 30px 0 100px;
			@include font_k_w(14px,300);
			line-height: 2;
			color: #8a8a8a;
			span {
				color:$brand_color;
			}
		}
	}

	.brand_info {
		border-bottom: 1px solid #ebebeb;
	}

	.pairing {
		background: url(../imgs/sub/brand_pairing.png) no-repeat right center;
		border-bottom: 1px solid #ebebeb;
	}

	.desc {
		float:left;
		dd {

			padding-bottom: 30px; 
		}

		.btn { 

			padding:0;
			a{
				padding: 4px 0;
				width:82px;
				color:#fff;
				background-color: $brand_color;
				text-align: center;
			}
		}
	}
	.img {
		float: right;
		margin-top:100px;
		
		.img_wrap {
			float:left;
		}
		.img_wrap.last {
			margin-left: 30px;
		}
		p {
			margin-top: 24px;
			@include font_k_w(14px,300);
			text-align:center;
		}
	}

}

//brand_history

.brand_history {
	
	p {
		padding: 50px 0 100px;
		@include font_k_w(24px,200);
	}
}

.sub_history {
	
	img {
		margin: 0 auto;
	}
	.history_01,.history_03 {
		dd {
			padding-bottom: 0;
		}
	}

}



//sub2 title
.sub2 {

	.title {
		margin-top: 70px;
		line-height: 1;
		text-align: center;
		p {
			@include font_k_w(16px,200);
		}
		h2 {
			margin-top: 16px;
			@include font_en_w(48px,bold);
			color: $brand_color;
		}
	}
}

//notice
.sub2 {

	fieldset {
		margin: 70px 0 100px;
		text-align: center;
	}

	select,input[type="text"],button[type="submit"] { 
		width: 126px;
		padding: 4px 10px; 
		@include font_k_w(14px,200);
		background-color: #f0f0f0;
		border: none;
		border-radius: 0px; 
	}
	.search_select {
		margin: 0 20px;
	}
	
	input[type="text"] {
		width: 306px;
		margin-right: 10px;
	}

	button[type="submit"] {
		width: 60px;
		color: #fff;
		background-color: #151515;
	}
}

.list_page {
	@include font_k_w(14px,300);
	
	.result_pg {
		@include font_k_w(14px,300);
		font-size: 18px;
		margin-bottom: 20px;
		span {
			color: $brand_color;
			font-weight: bold;
		}
	}
}

.list_table {
	width: 100%;
	.first {
		border-color: #303030;
		text-align: left;

		.num {width: 10%;}
		.cate {width: 21%;}
		.tit {width: 64%;}
	}

	.date {
		text-align: right;
	}

	th,td {
		
		padding: 30px 0;
	}

	th{
		color: #b9b9b9;
		font-weight: normal;
	}

	tr {
		border-bottom: 1px solid #f4f4f4;
		td {color: #000;}
	}
	

	td a {
		@include font_k_w(14px,300);
		color: #000;
	}
}

.page_view {
	
	margin-top: 50px;
	text-align: center;
	
	.prev, .next {
		text-indent: -9999px;
		background-position: center;
	}

	.prev {@include bgi('../imgs/sub/list_arrow_l.png');}
	.next {@include bgi('../imgs/sub/list_arrow_r.png');}

	a {
		
		display: inline-block;
		padding: 6px 0;
		width: 31px;
		text-align: center;
		font-size: 14px;
		color: #8a8a8a;
		border: 1px solid #ddd;
	}
	
	.now_pg {
		font-weight: bold;
	}
}

