@import 'reset';
@import 'font';
@import 'color';
@import 'zindex';
@import 'position';
@import 'blind';
@import 'bg';


//border
$border_gray: 1px solid #e5e5e5;
@mixin border_normal($border_c){

	border: 1px solid $border_c;
}


.screen_out {

	@extend %screen_out
}

//layout
#header{
	@include relative(); 
	@include z-index(header_stuff);
}
#container{
	@include relative(); 
	@include z-index(container_stuff);
}
#footer{
	@include relative();
	@include z-index(footer_stuff);
}

//skip_nav

#skip_navi {
	position: absolute;
	color: $white;
    width: 120px;
    padding: 7px 0;
    text-align: center;
    left: -9999px;
    background: $brand_color;
    font-size: 12px;

	&:hover, &:active, &:focus {
    
    left: 0;
    right: 0;
    width: auto;
    height: auto; 
    z-index: 31;

  }

}

//header
#header .inner{
	@include relative();
	min-height: 108px;
	background-color: $white;
}
//title
#header {
	.title {

		float: left;
		@include relative();
		@include z-index(header_stuff);

		 a { 
		 	margin:39px 60px 0 0;
		 	width: 218px;
		 	height: 31px;
		 	@include bgi('../imgs/logo_hd.png');
			
		}
	}

	h2 {
		@extend %screen_out;
	}
}

//main_nav
.gnb{
	float: left;
}

.m_menu {

	float: left;
	@include relative();
	text-align: center;

	>a {
		@include relative();
		padding: 44px 40px 44px 40px;
		@include z-index(header_stuff);
		@include font_en_w(14px,700);
		background-color: $white;
	}

	.sub_menu {
		@include absolute($top: -100%);
		@include z-index(sub_menu);
		padding-bottom: 50px;
		width: 100px;
		opacity:0;
		
		a {
			padding: 6px 0;
			text-align:center;
			@include font_k_w(12px,300);
			color: $sub_a;

			&:hover {text-decoration: underline;color: $brand_color;}
		}
	}
}


.etc_menu{
	@include absolute($top: 44px, $right: 0);
	@include z-index(header_stuff);

	.etc {
		float: left;
	}

	.search{
		@include relative();
		@include z-index(header_stuff);

		.search_icon {
			padding: 0 10px 50px;
			width: 16px;
			height: 16px;
			@include bgi('../imgs/search.png');
			background-position: center top;
		}
	}

	.membership{
		@include relative();
		@include z-index(header_stuff);

		.membership_icon {
			padding: 0 10px 50px;
    		margin: 0 30px 0 10px;
			width: 15px;
			height: 13px;
			@include bgi('../imgs/membership.png');
			background-position: center top;
		}
	}

	.app {
		@include relative();
		margin-top: -6px;
		
		.app_l {
			width: 62px;
			height: 24px;
			@include border_normal($brand_color)

		}
		
		.app_bg {
			@include absolute($top: 0, $left: 0);
			width: 26px;
			height: 25px;
			background-color: #ae1d31;
			transition: 0.3s;
			@include bgi('../imgs/down.png');
			background-position: 7px 7px;
		}

		.app_text {
			@include absolute($top: 4px,$right: 8px);
			@include font_en_w(12px,700);
			color: $brand_color;
		}
	}

} //etc_menu one_depth end


.search_bx{
	display: none;
	@include absolute($top: 30px,$left:0);
	width: 238px;
	border: $border_gray;
	@include z-index(header_stuff);
	background-color: $white;

	fieldset {

		padding: 29px 18px;

		.search_text {
			float: left;
			padding-left: 10px;
			width: 150px;
			height: 30px;
			border: $border_gray;
			@include font_k_w(12px, normal)
		}
		.search_btn {
			float: left;
			width: 39px;
			height: 32px;
			@include bgi('../imgs/serch_store.png');
			background-position: 50% 50%;
			background-color: $semi_gray;
		}
	}
}

.search_bx.on {display: block;}
.membership_bx.on {display: block;}

.membership_bx{
	display: none;
	@include absolute ($top: 30px, $left: 0);
	@include z-index(header_stuff);
	padding: 28px 18px;
	border: $border_gray;
	background-color: #fff;
	@include font_en_w(12px,normal);
	text-align: center;

	a {
		width: 200px;
		padding: 10px 0;
		border: $border_gray;

		&:hover {

			background-color: $semi_gray;
			color: $white;

		}
		
	}

	.join_btn {
		margin-top: 6px;
	}
}

// etc_menu_end


.menu_bg {
	@include absolute($top: -110px, $right: 0, $left: 0);
	@include z-index(menu_bg);
	height: 218px;
	border-bottom: 1px solid #e5e5e5;
	background-color: $white;
}

//header_end

//container


.section{		
	margin-top: 36px;

}

.main_banner {
	
	margin-top: 50px;
	
	.banner_wrap {
	
		width: 100%;

		.area_wrap {

			@include relative();
			float: left;
			width: 33.333333%;

		}

		p {

			@include font_k_w(16px);
		}


	}


}

.main_banner {

	.visual {
		
		width:100%;


	}


	.desc {
	
		@include absolute ($top: 56px);
		width: 100%;
		text-align: center;
		line-height: 0.95;

		.desc_title {
			
			margin-top: 20px;
			span{color: $brand_color;}
			font-size: 28px;
		}

		p.desc_title {

			@include font_k_w(26px,bold);
			letter-spacing: -1px;

		}

	}


}


//박스슬라이더 컨트롤러 조정
.main_banner {

	.bx-controls {

		@include absolute ($bottom: 20px, $right: 20px);
		
		a {
			background-position: center;
			@extend %ir;
			padding: 0 5px;
		}
		.bx-controls-direction {
			display: none;
		}

		.bx-controls-auto {

			float: right;

			.bx-controls-auto-item {

				float: left;
				a {

					width: 8px;
					height: 12px;
				}
			}

			.bx-start {

				@include bgi('../imgs/pager_play.png')
			}

			.bx-stop {

				@include bgi('../imgs/pager_pause.png')
			}
		}

		.bx-pager {
			float: left;
			.bx-pager-item {

				float: left;

				a {
					width: 12px;
					height: 12px;
					@include bgi('../imgs/pager_normal.png')

				}

				a.active {

					@include bgi('../imgs/pager_selec.png')

				}
			}

		}

	}

}

//투썸 앱 
.twosome_app {
	

	.app_store {
		
		width: 94px;
		@include absolute ($top: 150px, $left: 50%, $right: 50%);
		transform: translateX(-50%);

		.apple {

			margin-top: 8px;
		}

	}


}




// 신상품슬라이드

.new_arrival {

	@include relative();

	.slide_depth {
		position: relative;
	}

}

.new_arrival .tumbnail_bx {

	padding-right: 33.333333%;

	.back_visual_img {
		width: 100%;
		height: 700px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		a {
			width: 100%;
			height: 100%;
		}
	}
}


.new_arrival .text_bx {
	
	position: absolute;
	top: 50%;
	right: 0;
	padding: 90px;
	width: 50%;
	box-sizing: border-box;
	background-color: #fff;
	transform: translateY(-50%);

	.slide_title {

		span {

			display: block;
			color: $brand_color;
			font-size: 20px;
		}

		strong {

			display: block;
			margin-top: 34px;
			font-size: 45px;
			line-height: 1.1;
			color: #2b2b2b;
		}
	}

	.slide_desc {

		padding-top: 160px;

		p {
			@include font_k_w(14px);
		}

	}
}


//arrow버튼 설정
.slick-arrow {
	
	width: 30px;
	height: 19px;
	@extend %ir;
	z-index: 11;
}
.new_arrival {
	
	.slick-prev {
		
		@include absolute($top:50%, $left:625px);
		transform: translateY(-50%);
		@include bgi('../imgs/arrow_l.png');
	}

	.slick-next {

		@include absolute($top:50%, $right:0);
		transform: translateY(-50%);
		@include bgi('../imgs/arrow_r.png');
		
	}

}

.number-slide-dots {

	@include absolute($top:410px, $left:685px);	

	li {

		display: inline-block;
		margin: 0 3px;
			
		button {
			
	   	 	width: 40px;
   	 		height: 40px;
			box-sizing: border-box;
			border-width: 2px;
			border-style: solid;
			border-color: transparent;
			border-radius: 50%;
   	 		line-height: 36px;
    		text-align: center;
    		font-size: 20px;

		}

	}


	.slick-active button[type=button] {
		color: $brand_color;
		border-color: $brand_color;
	}

} 


//store

.store {

	color: #fff;

	.store_bx, .desc {float: left;}

	.store_bx {
		box-sizing: border-box;
		padding: 50px 36px 46px 50px;
		width: 50%;
	}

	.title {
		line-height: 0.95;
		h2 {
			@include font_en_w(28px);
		}
		p {
			margin-top: 26px;
			@include font_k_w(16px);
			color: #fff;
		}
	}

	.btn {

		margin-top: 70px;
	}

}

.franchise {

	background-color: $brand_color;
	.btn {

		a {
			
			padding: 12px 22px;
			color: #fff;
			border: 2px solid #fff;
			border-radius: 2px;
			text-align: center;
			@include font_k_w(14px);
			transition: 0.5s;

			&:hover {

				background-color: #fff;
				color: $brand_color;
			}
			
		}
	}

	.icon_area {
		float: right;
		margin-top: 27px;
		width: 181px;
		height: 177px;
		@include bgi('../imgs/franchise.png');
	}

}

.search_store {

	background-color: #303030;

	.icon_area {
		float: right;
		margin-top: 19px;
		width: 197px;
		height: 185px;
		@include bgi('../imgs/find_srote.png');
	}

	.btn {
		
		@include relative();

		.store_search {

			padding: 14px 10px;
			width: 198px;
			border: 2px solid #fff;
			border-radius: 2px;
			background-color: #525252;
			color: #fff;
			@include font_k_w(14px);

		}

		.store_search::placeholder {

			color: #fff;
		}

		.store_search_btn {
			@include absolute($top:16px, $right:19px);
			width: 15px;
			height: 15px;
			@extend %ir;
			@include bgi('../imgs/serch_store.png');
		}

	}
}

//best-item

.best_item {

	.inner {position: relative;}
	
	margin-top: 70px;
	background-color: #f6f6f6;
	padding-bottom: 50px;

	.title {
		padding: 50px 0 15px;
		font-size: 28px;
		color: #2b2b2b;
		text-align: center;
	}

	.control {
        text-align: center;

		ul {
			display: inline-block;
			margin: 0 auto;
		}

		li {
			float: left;
			margin: 0 15px;
			@include font_en_w(16px);

			a {

			color:#5e5e5e;
			}
		}

		li.on a {

			color: $brand_color;
			text-decoration: underline;
		}

	}

	.product {

		ul {

			margin: 50px 154px 0;

			li {
				float: left;
				overflow: hidden;
				margin-right: 29px;
				width: 278px;
				height: 350px;
				background-color: #fff;
				background-position: center;
				background-size: 270px;


			}

			li.last {
				margin-right: 0;
			}
		}

		a {width: 100%; height: 100%;}


	}


	//best_img
	.ct1 {
		.first {
			@include bgi('../imgs/product/drink/coffe/2097_big_img.jpg');
		}
		.second {
			@include bgi('../imgs/product/drink/coffe/2098_big_img.jpg');
		}
		.last {
			@include bgi('../imgs/product/drink/coffe/2099_big_img.jpg');
		}
	}

	.ct2 {
		.first {
			@include bgi('../imgs/product/md/1939_big_img.jpg');
		}
		.second {
			@include bgi('../imgs/product/md/1938_big_img.jpg');
		}
		.last {
			@include bgi('../imgs/product/md/1638_big_img.jpg');
		}
	}

	.ct3 {
		.first {
			@include bgi('../imgs/product/dessert/1885_big_img.jpg');
		}
		.second {
			@include bgi('../imgs/product/dessert/2076_big_img.jpg');
		}
		.last {
			@include bgi('../imgs/product/dessert/2094_big_img.jpg');
		}
	}

	.slide_arrow {
		@include absolute($top:370px, $left:0, $right:0);
		width: 1200px;

		.slick-prev {
			
			position: static;
			float: left;
			@include bgi('../imgs/arrow_l.png');
		}

		.slick-next {

			position: static;
			float: right;
			@include bgi('../imgs/arrow_r.png');
			
		}
	}
}


//video

.video {
	
	margin: 80px 0;
	height: 400px;
	@include bgi('../imgs/video.png');

}

.video_bx {
	text-align: center;

	.desc {
		
		p {

		color: $white;

		}

		.sub {

			padding-top: 90px;
		}

		.title {
			margin: 64px 0 40px;
			font-size: 28px;

		}

	}
	
	.play_btn {
		color: $white;
		margin: 0 auto;
		border: 1px solid #fff;
		width: 63px;
		height: 63px;
		border-radius: 50%;
		text-align: center;
		line-height: 63px;
		font-size: 15px;
		transition: 0.5s;

		&:hover {

			background-color: #fff;
			color: rgba(0, 0, 0, 0.5);
		}
	}

}

//footer

#footer {
	
	background-color: $footer_gray;
	color: $footer_font;

	.ft_top {
			
		border-bottom: 1px solid #464646;

	}

}


.notice_title, .list, .more {

	float: left;
}

.list, .more {
	padding: 30px 0;
}

.ft_notice {
	
	@include relative();


	.notice_title {
		
		h3 {

			.title_icon {
				margin-top: 26px;
				float: left;
				width: 30px;
				height: 30px;
				@include bgi('../imgs/notice.png');

			}

			.title_h2 {
				@include relative();
				float: left;
				margin: 34px 0 0 18px;
				padding-right: 18px;
				border-right: 1px solid $semi_gray;
				@include font_k_w(16px,bold);
				color: $white;
				line-height: 0.95;	

			} 
		}

	}

	.list {

		width: 600px;
		box-sizing: border-box ;
		.notic_cnt {
			
			li {
				
				margin-left: 30px;
				
				a span {color: #848484;}

				.notice_text {
					display: inline-block;
					width: 420px;
					@include font_k_w(16px,normal);
					@extend %ellipsis;

				}

				.date {

					display: inline-block;
					margin-left: 40px;
					@include font_k_w(16px,normal);
					@extend %ellipsis;

				}
			}

		}


		.bx-pager {
			display: none;
		}

		.bx-controls {
			@include absolute ($top: 5px, $right: 142px);
			
		}

		.bx-prev {

			@extend %ir;
			width: 11px;
			height: 6px;
			@include bgi('../imgs/n_arrow_up.png');
			@include absolute ($top: 16px, $left: 0);
		}

		.bx-next {

			@extend %ir;
			width: 11px;
			height: 6px;
			@include bgi('../imgs/n_arrow_down.png');
			@include absolute ($top: 50px, $left: 0);
		}
		
		.bx-start {
			@include absolute ($top: 32px, $left: 2px);
			width: 7px;
			height: 8px;
			@extend %ir;
			@include bgi('../imgs/n_play.png');
		}
		.bx-stop {
			@include absolute ($top: 32px, $left: 2px);
			width: 7px;
			height: 8px;
			@extend %ir;
			@include bgi('../imgs/n_pause.png');

		}

	}

	.more {

			float: right;

		a {
			color: $white;
			@include font_k_w(14px,normal);
			i {
				display: inline-block;
				width: 7px;
				height: 8px;
				@include bgi('../imgs/more.png');

			}
		}
	}

}

.ft_info {

	.title {

		float: left;
		margin: 32px 34px 0 0;

		a {
			
			width: 210px;
			height: 30px;
			@include bgi('../imgs/logo_ft.png');
			@extend %ir;

		}

	}

	.twosome_info {
		
		float: left;
		width: 600px;
	}

	.sns {
		margin-top: 32px;
		float: right;

		.facebook a {
			width: 28px;
			height: 28px;
			@include bgi('../imgs/fb.png');
			@extend %ir;
		}

		.insta a {
			margin-left: 8px;
			width: 28px;
			height: 28px;
			@include bgi('../imgs/insta.png');
			@extend %ir;
		}
	}

}

.info_01, .info_02, .sns_ul {

	li {
	
		float: left;
		@include font_k_w(12px,normal);
		
	}
}

.info_01 {

	padding-top: 32px;

	
	li {

		margin-left: 9px;
		line-height: 0.95;
		border-right: 1px solid $semi_gray;

		a {
			
			padding-right: 10px;
			color: #848484;
			&:hover{
				text-decoration: underline;
			}
			

		}

	}
	.first {

		margin-left: 0;
	}

	.last {
		border-right: 0;
	}
	
	.highlight a {

		color: $white;
	}

}

.info_02 {
	width: 610px;
	margin-top: 6px;
	li {

		margin: 0 6px 6px 0;
		padding-right: 6px;
		background: url(../imgs/bar.png) no-repeat right center;

	}
	.last {
		padding-right: 0;
		margin-right: 0;
		background: none;
	}

}

.copyright {
	
	margin-bottom: 30px;
	@include font_en_w(12px)
	
}

